h1 {
    border: 20px solid red;
}
h2 {
    border-bottom: 30px solid orange;
}
body {
    background-color: blue;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.5%;
    color: hotpink;
}
