h1 {
    font-variant: normal;
    font-size: 80px;
    margin-block-end: 0;
}
h2 {
    border-bottom: 4    px solid rgb(226, 105, 61);
    margin-block-end: 0;
    font-size: 35px;
    font-variant-caps: all-petite-caps;
}
.banner {
    margin-bottom: 100px;
    margin-top: 50px;
    max-width: 80%;
    width: 2000px;
    height: 550px;
    padding-left: 10%;
    padding-right: 10%;
}
.pil {
    width: 20px;
    height: auto;
    float: right;
    position: fixed;
    right: 5%;
    
}
body {
    background-color: #E5E5F7;
    opacity: 1;
    background-size: 40px 40px;
    /* background-image:  radial-gradient(#444CF7 1px, transparent 1px), radial-gradient(#444CF7 1px, #E5E5F7 1px); */
    background-position: 0 0,20px 20px;
    margin: 10%;
    margin-top: 5%;
    color: rgb(48, 41, 41);
    font-family: 'Merriweather Sans', sans-serif;
}
.logo {
    width: 25%;
    float: right;
}
b {
    font-size: 20px;
}
p {
    margin-block-start: 0;
}
h3 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 15.333333333333332px;
    color: rgb(34, 28, 28);
    background-color: transparent;
    font-weight: 400;
}

ul {
    margin-top: 0;
    margin-block-end: 1;
}

