h1 {
    border-bottom: 20px solid red;
}
h2 {
    border-bottom: 30px solid orange;
}
body {
    background-image: url(/cowboybak.jpg);
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.5%;
    color: hotpink;
}
